/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25.09.2014, 09:36:32
    Author     : f.gysel
*/

.body {
    margin: 2% 25%;
    /*border: 1px solid black;*/
}

.body .body_box {
    border: 1px solid black;
    padding: 1%;
    background-color: lightgreen;
    border-radius: 5px;
    width: 30%;
    margin: 1%;
}

.box_title {
    border-bottom: 1px solid gray;
}

.body_box img {
    height: 8%;
    width: 8%;
    float: right;
    margin-bottom: 2%;
    margin-right: 2%;
}