/* General styles for all menus */
.cbp-spmenu {
    background: #47a3da;
    
}
.cbp-spmenu a {
    display: block;
    color: #fff;
}
.cbp-spmenu a:hover {
    background: #258ecd;
}
.cbp-spmenu a:active {
    background: #afdefa;
    color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical {
    width: 90%;
    height: 100%;
    top: 50px;
    padding-left: 5px;
    border-top-right-radius: 15px;
    box-shadow: black 1px 5px 0 2px;
    z-index: 10000;
}
.cbp-spmenu-vertical a {
    border-bottom: 1px solid #258ecd;
    padding: 8px;
    text-decoration: none;
}

.cbp-spmenu-left {
    left: -100%;
}

.fixed {
    position: fixed;
}

.unfixed {
    position: inherit;
}