/* 
    Created on : 24.09.2014, 21:04:37
    Author     : Basil
*/

* {
    font-family: 'Varela Round', cursive;
    margin: 0;
    padding: 0;
}

body {

    background: linear-gradient(to bottom, #356aa0 0%,#356aa0 100%); /* W3C */
}

.content-wrap {
    background: whitesmoke;
    width: 60%;
    margin: 40px auto;
    padding: 25px 35px;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.8);
    -moz-box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.8);
    box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.8);
}

/* content-outer */
.content-outer {
    margin-bottom: 50px;
}

/* content-inner */
.content-block:first-child {
    margin-top: 0px;
}

.content-block {
    margin-top: 30px;
}

.headline-big {
    margin-bottom: 10px;
}

/* first child after parent */
.content-block .headline-big + .headline-sm {
    margin-top: 0;
}

.headline-sm {
    margin-top: 15px;
    margin-bottom: 10px;
}

.list-item {
    margin-left: 35px;
}

.index {
    /*text-decoration: none;*/
    color: rgba(0,0,0,0.7);
}

.index:hover {
    color: rgba(0,0,0,1);
}